<% provide(:title, '勤怠表示') %>
<%if not current_user.try(:admin?)%>
<div>
  <table class = "table-bordered table-condensed">
    <tr>
      <td>
        <%= link_to "←", user_path(params: {id: @user.id, first_day: @first_day.prev_month }),
                        class: "btn btn-xs btn-primary" %>
        &emsp;<%= @first_day.strftime("%Y年%-m月") %>　時間管理表&emsp;
        <%= link_to "→", user_path(params: {id: @user.id, first_day: @first_day.next_month }),
                        class: "btn btn-xs btn-primary" %>
      </td>
      <td>指定開始時間時間　<%=@user.start_time.strftime("%H"":""%M")%></td>
      <td>指定終了時間　<%=@user.end_time.strftime("%H"":""%M")%></td>
      <td>初日　<%= @first_day.to_s(:date) %></td>
    </tr>
    <tr>
      <td>所属：<%= @user.affiliation.present? ? @user.affiliation : "未設定" %></td>
      <td>氏名：<%= @user.name %></td>
      <td>出勤日数：<%= @worked_sum %>日</td>
      <td>締日　<%= @last_day.to_s(:date) %></td>
    </tr>
  </table>
  <%= link_to "勤怠を編集", edit_works_path(@user, @first_day), class: "btn btn-primary" %>
  <%= link_to "csv出力",user_csv_output_path(@user, format: :csv, date: @first_day), {class: "btn btn-primary", id: "csv"} %>
  <table class = "table-bordered table-striped table-condensed">
    <thead>
      <tr>
        <td rowspan="3" colspan="1" >残業申請</td>
        <td rowspan="3" colspan="1">日付</td>
        <td rowspan="3" colspan="1" >曜日</td>
        <td rowspan="1" colspan="8" >【実績】</td>
        <td rowspan="1" colspan="5" >所定外勤務</td>
      </tr>
      <tr>
        <td rowspan="1" colspan="3">出社</td>
        <td rowspan="1" colspan="3" >退社</td>
        <td rowspan="2" colspan="1" >在社時間</td>
        <td rowspan="2" colspan="1" >備考</td>
        <td rowspan="1" colspan="2" >終了予定時刻</td>
        <td rowspan="2" colspan="1" >時間外時間</td>
        <td rowspan="2" colspan="1" >業務処理内容</td>
        <td cellpadding="bottom" rowspan="2" colspan="1">指示者確認㊞</td>
      </tr>
      <tr>
        <td >時</td>
        <td >分</td>
        <td></td>
        <td >時</td>
        <td >分</td>
        <td></td>
        <td >時</td>
        <td >分</td> 
      </tr>
      </thead>
      <% (@works).each do |work| %>
        <tr>
          <td>
            <button class="btn btn-primary" data-toggle="modal1" data-target="#modal" data-date="<%=work.day.month%>/<%=work.day.day%>" data-date_1="<%=work.day.year%>-<%=work.day.month%>-<%=work.day.day%>" data-day="<%= %w(日 月 火 水 木 金 土)[work.day.wday]%>">
              残業申請
            </button>
            <%= render 'modal_r_overwork' %>
          </td>
          <td><%= work.day.strftime("%-m/%d")%></td>
          <td><% %w{日 月 火 水 木 金 土}[work.day.wday] %>
            <% if work.day.wday == 6 %><font color="BLUE">土</font>
            <% elsif work.day.wday == 0 %><font color="RED">日</font>
            <% else %> <%= %w{日 月 火 水 木 金 土}[work.day.wday] %>
            <%end%>
          </td>
          <td><%= work.attendance_time.strftime("%H") if work.attendance_time.present? %></td>
          <td><%= work.attendance_time.strftime("%M") if work.attendance_time.present? %></td>
          <td>
            <% if work.day == Date.today && work.attendance_time.nil? %>
              <%= button_to "出社", user_works_path(@user), class: "btn btn-xs btn-primary" %>
            <% end %>
          </td>
          
          <td><%= work.leaving_time.strftime("%H") if work.leaving_time.present? %></td>
          <td><%= work.leaving_time.strftime("%M") if work.leaving_time.present? %></td>
          <td>
            <% if work.day == Date.today && work.attendance_time.present? && work.leaving_time.nil? %>
              <%= button_to "退社", user_works_path(@user), class: "btn btn-xs btn-primary" %>
            <% end %>
          </td>
          <td>
            <% if work.attendance_time.present? && work.leaving_time.present? %>
              <%= working_times(work.attendance_time, work.leaving_time) %>
              <% seconds = (work.leaving_time - work.attendance_time).to_i %>
              <% @total_seconds = @total_seconds.to_i + seconds %>
            <% end %>
          </td>
          <td><%= work.remarks %></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  <tfoot>
      <tr>
        <td colspan = "2"><%= format_basic_time(@user.basic_time).to_f * @worked_sum %></td>
        <td colspan = "6"></td>
        <td><%= working_times_sum(@total_seconds) unless @total_seconds.nil? %></td>
        <td></td>
      </tr>
    </tfoot>
  </table>
<% end %>
<%if current_user.try(:admin?)%>
  <%= render :template => "application/top"%>
<% end %>
</div>

<script>
// 勤怠申請モーダルの値渡し
    $(document).ready(function() {
    $('#modal1').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) //モーダルを呼び出すときに使われたボタンを取得
      var date = button.data('date') //data-date の値を取得
      var day = button.data('day') //data-day の値を取得
      var date_1 = button.data('date_1') //data-date_1 の値を取得
      
      //Ajaxの処理はここに
    
      var modal = $(this)  //モーダルを取得
      modal.find('#modal-date').text(date) //モーダルの日付に値を表示
      modal.find('#modal-day').text(day) //モーダルの曜日に値を表示
      modal.find('#test').val(date_1)
      
      
    })
    });
</script>