<% provide(:title, '勤怠表示') %>
<%if not current_user.try(:admin?)%>
<div>
  <table class = "table-bordered table-condensed">
    <tr>
      <td>
        <%if current_user?(@user)%>
        <%= link_to "←", user_path(params: {id: @user.id, first_day: @first_day.prev_month }),
                        class: "btn btn-xs btn-primary" %>
        &emsp;<%= @first_day.strftime("%Y年%-m月") %>　時間管理表&emsp;
        <%= link_to "→", user_path(params: {id: @user.id, first_day: @first_day.next_month }),
                        class: "btn btn-xs btn-primary" %>
        <%end%>
      </td>
      <td>指定開始時間時間　<%=@user.designated_start_time.strftime("%H"":""%M")%></td>
      <td>指定終了時間　<%=@user.designated_end_time.strftime("%H"":""%M")%></td>
      <td>初日　<%= @first_day.to_s(:date) %></td>
    </tr>
    <tr>
      <td>所属：<%= @user.affiliation.present? ? @user.affiliation : "未設定" %></td>
      <td>氏名：<%= @user.name %></td>
      <td>出勤日数：<%= @worked_sum %>日</td>
      <td>締日　<%= @last_day.to_s(:date) %></td>
    </tr>
  </table>
    <%if current_user.try(:superior?) && current_user?(@user)%>
      <% @name=current_user.name %>

      <% if Work.find_by(over_time_request: @name) %>
        <% request_state_count=Work.where(over_time_request: @name).count %>
          <a id="over_work" data-toggle="modal" data-target="#modal-overwork" >
            <%= "【残業申請のお知らせ】 #{request_state_count}件 " %>
          </a><br>
          <%= render 'modal_s_over_work' %>
      <% else %>
          <div id="blue">
            <%= "【残業申請のお知らせ】" %>
          </div>
      <% end %>
      <% if Work.find_by(month_request: @name) %>
        <% request_state_count=Work.where(month_request: @name).count %>
        <a id="month" data-toggle="modal" data-target="#modal-monthwork" >
          <%= "【所属長承認申請のお知らせ】 #{request_state_count}件 " %>
        </a><br>
        <%= render 'modal_s_monthwork' %>
      <% else %>
        <div id="blue">
          <%= "【所属長承認申請のお知らせ】" %>
        </div>
      <% end %>
      <% if Work.find_by(change_request: @name) %>
          <% request_state_count=Work.where(change_request: @name).count %>
            <a id="change_work" data-toggle="modal" data-target="#modal-changework" >
                <%= "【勤怠変更申請のお知らせ】 #{request_state_count}件 " %>
            </a><br>
            <%= render 'modal_s_changework' %>
      <% else %>
            <div id="blue">
                <%= "【勤怠変更申請のお知らせ】" %>
            </div>
      <% end %>
    <%end%>
    <%if current_user?(@user)%>
    <%= link_to "勤怠を編集", edit_works_path(@user, @first_day), class: "btn btn-primary" %>
    <%= link_to "csv出力",user_csv_output_path(@user, format: :csv, date: @first_day), {class: "btn btn-primary", id: "csv"} %>
    <%= link_to "勤怠修正ログ（承認済）", work_logs_path(@user,@first_day), class: "btn btn-primary" %>
    <%end%>
  <table class = "table-bordered table-striped table-condensed">
    <thead>
      <tr>
        <td rowspan="3" colspan="1" >残業申請</td>
        <td rowspan="3" colspan="1">日付</td>
        <td rowspan="3" colspan="1" >曜日</td>
        <td rowspan="1" colspan="8" >【実績】</td>
        <td rowspan="1" colspan="5" >所定外勤務</td>
      </tr>
      <tr>
        <td rowspan="1" colspan="3">出社</td>
        <td rowspan="1" colspan="3" >退社</td>
        <td rowspan="2" colspan="1" >在社時間</td>
        <td rowspan="2" colspan="1" >備考</td>
        <td rowspan="1" colspan="2" >終了予定時刻</td>
        <td rowspan="2" colspan="1" >時間外時間</td>
        <td rowspan="2" colspan="1" >業務処理内容</td>
        <td cellpadding="bottom" rowspan="2" colspan="1">指示者確認㊞</td>
      </tr>
      <tr>
        <td >時</td>
        <td >分</td>
        <td></td>
        <td >時</td>
        <td >分</td>
        <td></td>
        <td >時</td>
        <td >分</td> 
      </tr>
      </thead>
      <% (@works).each do |work| %>
        <tr>
          <td>
          <%if current_user?(@user)%>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal1" data-date="<%=work.day.month%>/<%=work.day.day%>" data-date_1="<%=work.day.year%>-<%=work.day.month%>-<%=work.day.day%>" data-day="<%= %w(日 月 火 水 木 金 土)[work.day.wday]%>" data-id="<%= work.id%>">
              残業申請
            </button>
            <%= render 'modal_r_overwork' %>
          <%end%>
          </td>
          <td><%= work.day.strftime("%-m/%d")%></td>
          <td><% %w{日 月 火 水 木 金 土}[work.day.wday] %>
            <% if work.day.wday == 6 %><font color="BLUE">土</font>
            <% elsif work.day.wday == 0 %><font color="RED">日</font>
            <% else %> <%= %w{日 月 火 水 木 金 土}[work.day.wday] %>
            <%end%>
          </td>
          <td><%= work.attendance_time.strftime("%H") if work.attendance_time.present? %></td>
          <td><%= work.attendance_time.strftime("%M") if work.attendance_time.present? %></td>
          <td>
          <%if current_user?(@user)%>
            <% if work.day == Date.today && work.attendance_time.nil? %>
              <%= button_to "出社", user_works_path(@user), class: "btn btn-xs btn-primary" %>
            <% end %>
          <%end%>
          </td>
          
          <td><%= work.leaving_time.strftime("%H") if work.leaving_time.present? %></td>
          <td><%= work.leaving_time.strftime("%M") if work.leaving_time.present? %></td>
          <td>
          <%if current_user?(@user)%>
            <% if work.day == Date.today && work.attendance_time.present? && work.leaving_time.nil? %>
              <%= button_to "退社", user_works_path(@user), class: "btn btn-xs btn-primary" %>
            <% end %>
          <%end%>
          </td>
          <td>
            <% if work.attendance_time.present? && work.leaving_time.present? %>
              <%= working_times(work.attendance_time, work.leaving_time) %>
              <% seconds = (work.leaving_time - work.attendance_time).to_i %>
              <% @total_seconds = @total_seconds.to_i + seconds %>
            <% end %>
          </td>
          <td><%= work.remarks %></td>
          <td><%= work.over_time_end.strftime("%H") if work.over_time_end %></td>
          <td><%= work.over_time_end.strftime("%M") if work.over_time_end %></td>
          <td><%=sprintf("%.2f", overwork_time(work)) if work.over_time_end %></td>
          <td><%= work.over_time_work %></td>
          <td><%=over_check(work)%>
              <%= work_check(work) %>
          </td>
        </tr>
        <%@mday = work%> 
      <% end %>
    </tbody>
  <tfoot>
      <tr>
        <td></td>
        <td colspan = "2"><%= format_basic_work_time(@user.basic_work_time).to_f * @worked_sum %></td>
        <td colspan = "6"></td>
        <td><%= working_times_sum(@total_seconds) unless @total_seconds.nil? %></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>所属長承認  <%= month_check_window(@mday) %><br>
        <% @works = Work.find_by(day: @mday.day.beginning_of_month) %>

          <%= form_for @works, :url => { :controller => :users, :action => :create_monthwork, :day => @works.day},method: :patch do %>
          <%= fields_for "work", @works do |fi| %>
                <%= fi.collection_select(:month_request, User.get_sv_user_whithout_myself(session), :name, :name, {:include_blank => true}, {:required => "required"})%>
              <% end %>
            <%if current_user?(@user)%>
              <%= fields_for "work", @works do |fi| %>
                <%= fi.hidden_field @works, :value => params[:day] %>
              <% end %>
              <%= submit_tag "申請", class: "btn btn-primary" %>
            <%end%>
          <% end %>
        </td>
    </tr>
    </tfoot>
  </table>
<% end %>
<%if current_user.try(:admin?)%>
  <%= render :template => "application/top"%>
<% end %>
</div>

<script>
// 勤怠申請モーダルの値渡し
    $(document).ready(function() {
    $('#modal1').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) //モーダルを呼び出すときに使われたボタンを取得
      var date = button.data('date') //data-date の値を取得
      var day = button.data('day') //data-day の値を取得
      var id = button.data('id') //data-day の値を取得
      var date_1 = button.data('date_1') //data-date_1 の値を取得
      
      //Ajaxの処理はここに
    
      var modal = $(this)  //モーダルを取得
      modal.find('#modal-date').text(date) //モーダルの日付に値を表示
      modal.find('#modal-day').text(day) //モーダルの曜日に値を表示
      modal.find('#modal-id').text(id) //モーダルの曜日に値を表示
      modal.find('#test').val(date_1)
      
      
    })
    });
</script>